form input:not(.ng-pristine).ng-invalid,
select:not(.ng-pristine).ng-invalid, textarea:not(.ng-pristine).ng-invalid
{
    background: lightpink;
    border-left: 5px solid red;
}
form input:not([type=submit]):not([type=checkbox]):not([type=radio]):not([type=file]):not(.ng-pristine).ng-valid,
select:not(.ng-pristine).ng-invalid, textarea:not(.ng-pristine):not(.ng-untouched).ng-valid
{
    background: #adfbdc;
    border-left: 5px solid green;
}

.todo-item {
    padding: 8px;
    border-bottom: 1px solid #eee;
    transition: opacity 900ms ease-out;
}
.todo-item input[type=checkbox] {
    margin-right: 5px;margin-top: 9px;
}
.todo-header {
    font-weight: 600;
    font-size: 1.2em;
    color: #457196;
}
.todo-content {
    padding-left: 30px;
}
.todo-content .fa-check {
    color: green !important;
    font-weight: bold;
    font-size: 1.2em;
}
.completed {
    text-decoration: line-through;
    font-style: italic;
    opacity: 0.4;
}
.inline-editor {
    min-width: 200px;
    width: 50%;
    margin-bottom: 5px;
}

input.invalid {
  border: solid 1px red;
  background: pink;
}

input.valid {
  border: solid 1px green;
  background: lightgreen;
}

[v-cloak] { display: none; }