<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Vue 100</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />

    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="./touch-icon.png" />

    <link rel="icon" href="./touch-icon.png" />
    <meta name="msapplication-TileImage" content="./touch-icon.png" />

    <link href="./lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="./lib/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="todo.css" rel="stylesheet" />


    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script src="./lib/vue/dist/vue.js"></script>
</head>

<body>
    <div id="todoApp" class="container">
        <h1>{{ appName }}</h1>

        <div class="todo-item"
             v-bind:class="{completed: todo.completed}"
             v-for="todo in todos" 
             v-on:click="toggleCompleted(todo)">
                


                <i class="fa fa-fw float-left text-info" 
                style="margin: 10px 10px 20px; font-size: 1.7em"
                v-on:click="toggleCompleted(todo)"
                :class="{'fa-bookmark': !todo.completed,                      
                            'fa-check': todo.completed,
                            'text-successs': todo.completed 
                           }"        
                ></i>
                

        <!-- action icons -->
        <div class="float-right">
                <i class="fa "  :class="{'fa-edit': !todo.isEditing, 
                    'fa-check': todo.isEditing, 
                    'text-success': todo.isEditing 
                }"
                @click="toggleEditMode(todo)"
                style="color: goldenrod; cursor: pointer"
                title="Edit Todo Item"
                v-show="!todo.isEditing || todo.title"
                ></i>

                <i class="fa fa-times-circle"
                    @click="removeTodo(todo)"
                    style="color: firebrick; cursor: pointer"
                    title="Remove Todo Item"></i>                                    
        </div>

            <div class="todo-content">

                <div class="todo-header">
                    <div v-if="!todo.isEditing">
                        {{todo.title}}
                    </div>
                    <div v-else>
                        <input type="text" ref="todoTitle" v-model="todo.title" class="todo-header inline-editor" />
                    </div>
                </div>
                <div v-if="!todo.isEditing" style="min-height: 25px;">
                    {{todo.description}}
                </div>
                <div v-else>
                    <textarea v-model="todo.description" class="inline-editor"></textarea>
                </div>

            </div>
        </div>

    </div>


<script>
    // create the view model separately - more options this way
    var vm = {
        appName: "Vue Todo List",
        todos: [ 
            { 
              title: "First Todo Item",
              description: "description",
              completed: false,
              isEditing: true              
            },
            { 
              title: "Second Todo",
              description: "description 2",
              completed: false,
              isEditing: false 
            },
            { 
              title: "Third Todo",
              description: "description 3",
              completed: true,
              isEditing: false 
            }
        ],
        toggleEditMode: function(todo) { todo.isEditing = !todo.isEditing; },        
        toggleCompleted: function(todo) { todo.completed = !todo.completed; },        
     }
     
    // initialize the model
    var app = new Vue({
        el: '#todoApp',
        data: function() {
           return vm;  // bind the model to the view
        }
    });
</script>

</style>
</body>

</html>