<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Vue 100</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />

    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="./touch-icon.png" />

    <link rel="icon" href="./touch-icon.png" />
    <meta name="msapplication-TileImage" content="./touch-icon.png" />

    <link href="./lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="./lib/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="todo.css" rel="stylesheet" />
    <style>
            label { font-weight: bold; }
    </style>

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script src="./lib/vue/dist/vue.min.js"></script>
</head>
<body>

<div class="container" id="vue101">
    <h1>
        <i class="fa fa-info-circle text-primary"></i>
        {{title}}
    </h1>
    <hr>
    <p>
        <i class="fa fa-clock text-success"></i>
        Time is: <b>{{ time.toLocaleString() }}</b>    
    </p>

    <div class="form-group">
      <label for="">What's your name</label>
      <input type="text" class="form-control" 
        v-model="name">
      <small id="helpId" class="form-text text-muted">you typed {{name}}</small>
    </div>

    <button type="button" id="Id"  
            @click="sayHello()"
            class="btn btn-primary">
        Say Hello
    </button>


    <div v-if="message()"
         class="alert alert-warning mt-4" role="alert">
        <strong>{{message()}}</strong>
    </div>


    <hr>

    <div class="todo todo-item" 
          v-for="todo in todos" 
          :class="{completed: todo.completed}">

          <input type="checkbox" 
                 class="float-left"
                v-model="todo.completed"  /> 

          <i class="fa fa-times text-danger float-right"
             @click="removeTodo(todo)"></i>

        <div class="todo-header">{{todo.title}}</div>   
        <div class="todo-content">
            {{todo.description}}
        </div>  
        
        
    </div>
</div>


<script>
var vm = {};
vm = {
    title: "Vue 101",
    time: new Date(),
    name: "Rick",
    message: function() {
        if (!vm.name)
            return ""
        return "Hello " + vm.name;
    },
    sayHello: function() {
        alert(vm.message());
    },
    removeTodo: function(todo) {
        vm.todos = vm.todos.filter((td) => td != todo);
    },
    todos: [
        {
            title: "Make SW Fox travel arrangements",
            description: "Compare fares and use travel site to book flights.",
            completed: false,
            isEditing: true
        },
        {
            title: "Prepare for SW Fox",
            description: "Work on Vue Demo and get it done",
            completed: false,
            isEditing: false
        },
        {
            title: "Go windsurfing",
            description: "After work make time to go!",
            completed: true,
            isEditing: false
        },
        {
            title: "Drop Everything - It's Windy!",
            description: "It's nuking, let's get in the car and go!",
            completed: false,
            isEditing: false
        }
    ]
};

var app = new Vue({
    el: "#vue101",
    data: function() {
        setInterval(function() {
            vm.time = new Date();
        },1000)
        return vm;
    }
});
</script>

</body>

</html>